.container{
    text-align: center;
}
.tittle{
    margin-top: 50px;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tittle span{
    color: aqua;
}
.reset {
    width: 153px;
    height: 48px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: aqua;
    color: rgb(2, 2, 44);
    margin-top: 25px;
    font-size: 19px;
    margin-bottom: 50px;
    padding: 5px;
}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background: #385361;
    border: 4px solid #0f1b21;
    border-radius: 12px;
    cursor: pointer;
}
.board{
    height: 600px;
    width: 564px;
    display: flex;
    margin: auto;
}
.boxes img{
    margin: 50px;
}
.message{
    color: white;
    font-size: 23px;
}

@media (max-width: 420px)   {
    .tittle {
        margin-left: 25px;
        margin-top: 50px;
        color: white;
        font-size: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}